<h1> Create a new Author Feature: Coming Soon! </h1>
<h3>  Our programmer was originally planning to allow dear users like you to create, edit, and delete both authors <i>and</i> users.  Unfortunately, that turned out to be way more work than he anticipated so for now, only the books in this library can be created, edited, and deleted by a user that originally created such books.</h3>
