<h2>Users</h2>

<% if flash.has?(:message) %>
  <a href="/signup"><%= flash[:message] %></a>
<% end %>

<h3>Sign in below if you're a current user</h3>
<form action="/login" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>
