<h1>Books</h1>
<br>
  <ol style="font-size:140%">
    <% myarray = @books.sort_by {|obj| obj.title} %>
      <% myarray.each do |book| %>
      <li><b><a href="/books/<%=book.slugtitle%>"><%= book.title %></a></b></li>
        <ul style="font-size:80%"><%= book.topics %></ul>
      <br>
      <% end %>
  </ol>
