<h1>Oops, sorry by you must be logged in to create or edit library content.  You can only edit or delete content you create yourself.</h1>
<h3>This notice was created to comply with the checkbox on line 12 in the spec.md file located in the project main directory</h3>
