<h1> Genres of Books in the Catalog </h1>
<h3>
  <ul>
    <% gen_array = @genres.sort_by {|obj| obj.name} %>
      <% gen_array.each do |genre| %>
        <% if genre.books.count > 0 %>
          <li style="font-size:110%"><%= genre.name %></li>
            <ul>
              <% genre.books.each do |book| %>
                <li style="font-size:90%"><a href="/books/<%=book.slugtitle%>"><%= book.title %></a></li>
              <% end %>
        <% end %>
        <br>
      </ul>
    <% end %>
  </ul>
</h3>
