<h1> Original Languages of the Books in the Catalog </h1>
<h3>
  <ul>
    <% myarray = @languages.sort_by {|obj| obj.name} %>
      <% myarray.each do |language| %>
      <li style="font-size:110%"> <%= language.name %></li>
        <ul>
          <% language.books.each do |book| %>
            <li style="font-size:90%"><a href="/books/<%=book.slugtitle%>"><%= book.title %></a></li>
          <% end %>
          <br>
        </ul>
    <% end %>
  </ul>
</h3>
