
<h3>
  <ul>
    <li><a href="/authors">View all Authors</a></li>
    <li><a href="/books">View all Books</a></li>
    <li><a href="/periods">View collection by time periods</a></li>
    <li><a href="/languages">View collection by languages</a></li>
    <li><a href="/locations">View collection by locations</a></li>
    <li><a href="/genres">View collection by genres</a></li>
  </ul>
</h3>
